<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <meta name="description" content="Сайт портфолио Ширапа Доржиева" />
</head>
<body id="@RenderSection("BodyId", false)">
        <nav class="navbar navbar-default">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1> <a class="navbar-brand" href="#">Shirap Dorzhiev</a></h1>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">

                            <ul class="nav navbar-nav navbar-right menulist">
                                <li class="home">@Html.ActionLink("Главная", "Index", new { controller = "Home" })</li>
                                <li class="about">@Html.ActionLink("Обо мне", "about", "Home")</li>
                                <li class="portfolio">@Html.ActionLink("Галерея", "gallery", "Home")</li>
                                <li class="contact">@Html.ActionLink("Контакты", "contact", "Home")</li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>


        </nav>
        
            @RenderBody()



    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year <a href="http://www.shirapdorzhiev.com">shirapdorzhiev.com</a> - Все права защищены</p>
        </div>
    </footer>

    
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
